head
    link(rel="stylesheet",type="text/css",href="styles/main.css")
    link(rel="stylesheet",type="text/css",href="styles/bootstrap.min.css")
body
    div(id="container")
    script(src="config.js")
    script(src="scripts/web3.min.js")
    script(src="scripts/es5-shim.min.js")
    script(src="scripts/es5-sham.min.js")
    script(src="scripts/console-polyfill.js")
    script(src="scripts/react.js")
    script(src="scripts/JSXTransformer.js")
    script(src="scripts/sha3.min.js")
    script(src="scripts/common.js")
    script(src="scripts/filtered_list.js")
    script(type="text/jsx", src="scripts/onePhaseAdBox.js")
    script(type="text/jsx", src="scripts/twoPhaseAdBox.js")
    script(type="text/jsx", src="scripts/main.js")
